{
    "testUser": {
        "jwt": "Copy the response from /login",
        "user": {
            "clientId": "Copy the response from /login",
            "userId": "Copy the response from /login",
            "roles": [],
            "privileges": [],
            "email": "Copy the response from /login",
            "name": "Copy the response from /login",
            "imageUrl": "Copy the response from /login"
        }
    }
}